In [1]:
# Load Libraries 
import pandas as pd                 
import numpy as np                   
import seaborn as sns                
import matplotlib.pyplot as plt   

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
         
import tensorflow as tf

In [9]:
# Load the AUTO-MPG DATA AND CLEAN
data = pd.read_csv("auto-mpg.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [12]:
data.columns = data.columns.str.strip().str.lower()
data.columns = data.columns.str.replace(" ", "_")

In [13]:
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'car_name'],
      dtype='object')

In [15]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [20]:
data_dsc = data.describe().T
data_dsc.iloc[:,1:3]

                     mean         std
mpg             23.514573    7.815984
cylinders        5.454774    1.701004
displacement   193.425879  104.269838
weight        2970.424623  846.841774
acceleration    15.568090    2.757689
model_year      76.010050    3.697627
origin           1.572864    0.802055

In [22]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [29]:
type(data["acceleration"][0])

numpy.float64

In [30]:
data["acceleration"][0].dtype

dtype('float64')

In [40]:
data[~data.apply(np.isreal).all(1)]

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model_year, origin, car_name]
Index: []

In [36]:
for (index,row) in data["acceleration"].items():
    # print(type(row))
    if type(row) != "float64":
        print(row)

12.0
11.5
11.0
12.0
10.5
10.0
9.0
8.5
10.0
8.5
10.0
8.0
9.5
10.0
15.0
15.5
15.5
16.0
14.5
20.5
17.5
14.5
17.5
12.5
15.0
14.0
15.0
13.5
18.5
14.5
15.5
14.0
19.0
13.0
15.5
15.5
15.5
15.5
12.0
11.5
13.5
13.0
11.5
12.0
12.0
13.5
19.0
15.0
14.5
14.0
14.0
19.5
14.5
19.0
18.0
19.0
20.5
15.5
17.0
23.5
19.5
16.5
12.0
12.0
13.5
13.0
11.5
11.0
13.5
13.5
12.5
13.5
12.5
14.0
16.0
14.0
14.5
18.0
19.5
18.0
16.0
17.0
14.5
15.0
16.5
13.0
11.5
13.0
14.5
12.5
11.5
12.0
13.0
14.5
11.0
11.0
11.0
16.5
18.0
16.0
16.5
16.0
21.0
14.0
12.5
13.0
12.5
15.0
19.0
19.5
16.5
13.5
18.5
14.0
15.5
13.0
9.5
19.5
15.5
14.0
15.5
11.0
14.0
13.5
11.0
16.5
17.0
16.0
17.0
19.0
16.5
21.0
17.0
17.0
18.0
16.5
14.0
14.5
13.5
16.0
15.5
16.5
15.5
14.5
16.5
19.0
14.5
15.5
14.0
15.0
15.5
16.0
16.0
16.0
21.0
19.5
11.5
14.0
14.5
13.5
21.0
18.5
19.0
19.0
15.0
13.5
12.0
16.0
17.0
16.0
18.5
13.5
16.5
17.0
14.5
14.0
17.0
15.0
17.0
14.5
13.5
17.5
15.5
16.9
14.9
17.7
15.3
13.0
13.0
13.9
12.8
15.4
14.5
17.6
17.6
22.2
22.1
14.2
17.4
17.7
21.0
16.2
17.8
12.2
17.0
16.4
13.6
15.7
13.2
21.9
15.5
16.7
12.1
12.0
15.0
14.0
18.5
14.8
18.6
15.5
16.8
12.5
19.0
13.7
14.9
16.4
16.9
17.7
19.0
11.1
11.4
12.2
14.5
14.5
16.0
18.2
15.8
17.0
15.9
16.4
14.1
14.5
12.8
13.5
21.5
14.4
19.4
18.6
16.4
15.5
13.2
12.8
19.2
18.2
15.8
15.4
17.2
17.2
15.8
16.7
18.7
15.1
13.2
13.4
11.2
13.7
16.5
14.2
14.7
14.5
14.8
16.7
17.6
14.9
15.9
13.6
15.7
15.8
14.9
16.6
15.4
18.2
17.3
18.2
16.6
15.4
13.4
13.2
15.2
14.9
14.3
15.0
13.0
14.0
15.2
14.4
15.0
20.1
17.4
24.8
22.2
13.2
14.9
19.2
14.7
16.0
11.3
12.9
13.2
14.7
18.8
15.5
16.4
16.5
18.1
20.1
18.7
15.8
15.5
17.5
15.0
15.2
17.9
14.4
19.2
21.7
23.7
19.9
21.8
13.8
17.3
18.0
15.3
11.4
12.5
15.1
14.3
17.0
15.7
16.4
14.4
12.6
12.9
16.9
16.4
16.1
17.8
19.4
17.3
16.0
14.9
16.2
20.7
14.2
15.8
14.4
16.8
14.8
18.3
20.4
19.6
12.6
13.8
15.8
19.0
17.1
16.6
19.6
18.6
18.0
16.2
16.0
18.0
16.4
20.5
15.3
18.2
17.6
14.7
17.3
14.5
14.5
16.9
15.0
15.7
16.2
16.4
17.0
14.5
14.7
13.9
13.0
17.3
15.6
24.6
11.6
18.6
19.4

In [47]:
data = data.replace("?", "NAN")

In [48]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [49]:
data.iloc[:,0:-1]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130,3504,12.0,70,1
1,15.0,8,350.0,165,3693,11.5,70,1
2,18.0,8,318.0,150,3436,11.0,70,1
3,16.0,8,304.0,150,3433,12.0,70,1
4,17.0,8,302.0,140,3449,10.5,70,1
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1
394,44.0,4,97.0,52,2130,24.6,82,2
395,32.0,4,135.0,84,2295,11.6,82,1
396,28.0,4,120.0,79,2625,18.6,82,1
397,31.0,4,119.0,82,2720,19.4,82,1